<div class="worksContainer">
<div class="works">
    <div class="worksHeader">
        <span class="worksMainHeading">CASE STUDIES </span>
        <span class="worksSubHeading">Our works describe why we are the best in the business</span>
    </div>
</div>
<div class="worksContent">
    <div class="workContent1">
        <div class="workContent1Image"></div>
        <div class="workContent1Texts">
            <span class="workContent1Heading">Graphic Design</span>
            <p class="workContent1SubText">Aura Branding Design</p>
        </div>
    </div>
    <div class="workContent2">
        <div class="workContent2Image"></div>
        <div class="workContent2Texts">
            <span class="workContent2Heading">Graphic Design</span>
            <p class="workContent2SubText">AB.S Snack Packing</p>
        </div>
    </div>
    <div class="workContent3">
        <div class="workContent3Image"></div>
        <div class="workContent3Texts">
            <span class="workContent3Heading">Web Development</span>
            <p class="workContent3SubText">Gradient Website Development</p>
        </div>
    </div>
    <div class="workContent4">
        <div class="workContent4Image"></div>
        <div class="workContent4Texts">
            <span class="workContent4Heading">Content Writing</span>
            <p class="workContent4SubText">Magazine Content Writing</p>
        </div>
    </div>
</div>
<button class="worksCtaButton"><b>See All Works <span class="rightArrow"> &#8594;</span></b></button>
</div>
