<div class="testimonial">
    <div class="testimonialBackgroundImage"></div>
    <div class="testimonialContent">
    <span class="testimonialHeading">TESTIMONIAL</span>
    <p class="testimonialSubText">“Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users.”</p>
    <div class="testimonialPersonInfo">
        <div class="testimonialPerson"></div>
        <span class="testimonialPersonName">Ian Klein</span>
        <span class="testimonialPersonDesignation">Digital Marketer</span>
    </div>
</div>
</div>