<div class="testimonalsContainer">
<div class="testimonals">
<div class="testimonalsInner">
    <div class="testimonalsImage"></div>
    <div class="testimonalsContent">
        <div class="testimonalsRating"></div>
        <p class="testimonalSubText"><b>“OMG! I cannot believe that I have got a brand new landing page after getting Albino. It was super easy to edit and publish.”</b></p>
        <span class="testimonalPerson"><b>Franklin Hicks</b> Web Developer</span>
    </div>
</div>
</div>
</div>
