<div class="aboutOuterContainer">
<div class="aboutContainer">
    <div class="aboutInnerContainer">
        <div class="ourStoryTitleContainer">
        <span class="ourStoryTitle">OUR STORY</span>
        <p class="ourStoryDesc">We know how everything works and why your business is failing over and over again.</p>
        </div>
        <div class="ourStoryImages">
            <div class="ourStoryImage1"></div>
            <div class="ourStory2B"></div>
            <div class="ourStoryImage2"></div>
            <div class="ourStoryImage3"></div>
        </div>
        <p class="ourStorySubDesc">We share common trends and strategies for improving your rental income and making sure you stay in high demand. With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
    </div>
</div>
<div class="facts">
    <div class="fact1">
        <span class="fact1Heading">1M+</span>
        <p class="fact1Text">Customers visit Omega every month to get their service done.</p>
    </div>
    <div class="fact2">
        <span class="fact2Heading">92%</span>
        <p class="fact2Text">Satisfaction rate comes from our awesome customers.</p>
    </div>
    <div class="fact3">
        <span class="fact3Heading">4.9/5.0</span>
        <p class="fact3Text">Average customer ratings we have got all over internet.</p>
    </div>
</div>
</div>
