<div class="features">
    <div class="featuresHeader">
        <span class="featuresHeading">WHY CHOOSE US</span>
        <p class="featuresText">People choose us because we serve the best for everyone</p>
    </div>
    <div class="featuresContent">
        <div class="feature1">
            <div class="feature1Icon"></div>
            <div class="feature1Content">
                <span class="feature1Heading">Dedicated project manager</span>
                <p class="feature1SubText">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
            </div>
        </div>
        <div class="feature2">
            <div class="feature2Icon"></div>
            <div class="feature2Content">
                <span class="feature2Heading">Organized tasks</span>
                <p class="feature2SubText">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
            </div>
        </div>
        <div class="feature3">
            <div class="feature3Icon"></div>
            <div class="feature3Content">
                <span class="feature3Heading">Easy feedback sharing</span>
                <p class="feature3SubText">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
            </div>
        </div>
        <div class="feature4">
            <div class="feature4Icon"></div>
            <div class="feature4Content">
                <span class="feature4Heading">Never miss deadline</span>
                <p class="feature4SubText">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
            </div>
        </div>
    </div>
    <hr class="thin-line"/>
    <div class="featuresFooter">
        <div class="featuresFooterContent">
            <span class="featuresFooterHeading">Ready to launch your next project?</span>
            <p class="featuresFooterText">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
        </div>
        <button class="featuresCtaButton">Get started a project</button>
    </div>
</div>