.hero{
    width:100vw;
    height:801px;
    background-image: url('../../../assets/images/BG.png');
    position: absolute;
    top:0;
    left:0;
    background-repeat: no-repeat;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
.heroModelImage{
    background-image: url('../../../assets/images/Image.png');
    position: absolute;
    top:161px;
    right:177px;
    width: 463px;
    height: 572px;
    background-repeat: no-repeat;
}
.heroContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 541px;
    height: 386px;
    position: absolute;
    top:219px;
    left:244px;
}
.heroMainHeading{
    font-weight: 700;
    font-size: 13px;
    line-height: 15.72px;
    letter-spacing: 1.63px;
    color: #F64B4B;
    margin:0;
}
.heroSubHeading{
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -2px;
    color:#161C2D;
    margin:0;
}
.heroSubText{

    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #595f6a;
    margin:0;
}
.ctaButtonHero{
    width:220px;
    height: 59px;
    font-weight: 700;
    font-size: 17px;
    line-height: 32px;
    letter-spacing:-0.6px;
    text-align: center;
    background-color:  #473BF0;
    color:#fff;
    border:none;
    border-radius: 8px;
    margin:0;
}