<div class="hero">
    <app-navbar></app-navbar>
    <div class="heroModelImage"></div>
    <div class="heroContent">
        <span class="heroMainHeading">LET'S SHIFT YOUR BUSINESS</span>
        <h2 class="heroSubHeading">Shift your business fast with Shade Pro.</h2>
        <p class="heroSubText">With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</p>
        <button class="ctaButtonHero">Get started a project</button>
    </div>
</div>
