<div class="footer">
    <div class="featuresFooter">
        <div class="featuresFooterContent">
            <span class="featuresFooterHeading">Ready to launch your next project?</span>
            <p class="featuresFooterText">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
        </div>
        <button class="featuresCtaButton">Get started a project</button>
    </div>
    <hr class="thin-line"/>
    <div class="footerContent">
        <div class="footerAbout">
            <span class="brandName">Brainwave.io</span>
            <p class="brandAbout">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
            <div class="brandLogos">
                <div class="twitter"></div>
                <div class="facebook"></div>
                <div class="instagram"></div>
                <div class="linkedin"></div>
            </div>
        </div>
        <div class="footerData">
            <span class="footerDataHeading">Company</span>
            <div class="footerDataSubContent">
                <span class="footerDataSubText">About us</span>
                <span class="footerDataSubText">Contact us</span>
                <span class="footerDataSubText">Careers</span>
                <span class="footerDataSubText">Press</span>
            </div>
        </div>
        <div class="footerData">
            <span class="footerDataHeading">Product</span>
            <div class="footerDataSubContent">
                <span class="footerDataSubText">Features</span>
                <span class="footerDataSubText">Pricing</span>
                <span class="footerDataSubText">News</span>
                <span class="footerDataSubText">Help desk</span>
                <span class="footerDataSubText">Support</span>
            </div>
        </div>
        <div class="footerData">
            <span class="footerDataHeading">Services</span>
            <div class="footerDataSubContent">
                <span class="footerDataSubText">Digital Marketing</span>
                <span class="footerDataSubText">Content Writing</span>
                <span class="footerDataSubText">SEO for Business</span>
                <span class="footerDataSubText">UI Design</span>
            </div>
        </div>
        <div class="footerData">
            <span class="footerDataHeading">Legal</span>
            <div class="footerDataSubContent">
                <span class="footerDataSubText">Privacy Policy</span>
                <span class="footerDataSubText">Terms and Conditions</span>
                <span class="footerDataSubText">Return Policy</span>
            </div>
        </div>
    </div>
</div>
