<div class="servicesContainer">
<div class="services">
    <div class="servicesHeader">
        <div class="servicesHeading">OUR SERVICES</div>
        <div class="servicesSubText">We provide great services for our customers based on needs</div>
    </div>
    <div class="servicesProvidedContainer">
        <div class="graphicDesignService">
            <div class="graphicDesignEmote"></div>
            <span class="graphicDesignHeading">Graphic Design</span>
            <p class="graphicDesignText">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
            <button class="graphicDesignButton">Learn more <span class="rightArrow">&#8594;</span></button>
        </div>
        <div class="webDevelopmentService">
            <div class="webDevelopmentEmote"></div>
            <span class="webDevelopmentHeading">Web Development</span>
            <p class="webDevelopmentText">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
            <button class="webDevelopmentButton">Learn more <span class="rightArrow">&#8594;</span></button>
        </div>
        <div class="contentWritingService">
            <div class="contentWritingEmote"></div>
            <span class="contentWritingHeading">Content Writing</span>
            <p class="contentWritingText">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
            <button class="contentWritingButton">Learn more <span class="rightArrow">&#8594;</span></button>
        </div>
    </div>
</div>
<div class="strokePNG"></div>
<app-testimonals></app-testimonals>
</div>